/* Most general at top */

/*stolen from Wes Modes*/

html, body {
  background-color: plum;
  /* background-image: url("../img/tv-eye.gif"); */
}

.content {
    display: inline-block;
    width: 90%;
    margin: 20px;
    padding: 10px;
}



/********************************/
/* Typography */
/********************************/

body {
  font-family: "Comic Sans MS", "Comic Sans", serif;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", serif;
  font-size: 4em;
  font-weight: bold;
}

/********************************/
/* Headings */
/********************************/

h1 {
  margin-top: 8px;
  margin-left: 0px;
}

/********************************/
/* Divided into useful sections */
/********************************/

/* Most general at top of each section */

/* Style your image, and adjust the height or the width of your image */
.feature-image {
  width: 400px;
  margin: 10px;
  padding: 10px;
}

.feature-image img {
  max-width: 100%;
  width: 100%;
}

#construction {
  width: 20%;
}

/* Most specific at bottom of each section */

#sidebar {
  float: right;
  margin: 10px;
  width: 25%;
  min-width: 300px;
  border: solid 3px black;
  background-color: white;
  text-align: center;
}

nav {
  position: sticky;
  top: 0;
  background-color: GRAY;
  border: solid 5px black;
  color: gray;
}

nav a {
  color: white;
}

/* iframe! */

.screenshot {
    width: 800px;
    height: auto;
    resize: both;
    overflow: hidden;
}

.screenshot img {
  width: 100%;
  max-width: 100%;
}

iframe#fake {
    width: 800px;
    height: 600px;
    resize: both;
    overflow: hidden;
    border: none;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
} /* stolen from W3Schools */

img {
  max-width: 100vw;
  max-height: 100vh;
}


/* Most specific at bottom */
